system:
  mqtt_broker_address: "199.1.1.1"
  mqtt_port: 1883
  mqtt_user: ""
  mqtt_password: ""
  mqtt_channel: "hp2mqtt"
  hp_host: "199.100.10.1"
  hp_pwd: ""
  mqtt_actor_update_sec: 30
  mqtt_meter_update_sec: 60

devices:
  RollershutterKitchen: "1010000"
  ActorEntranceLight: "1010002"
  ActorEnvironmentDevice: "1010010"
  MeterEnvironmentDevice: "1010011"