system:
  mqtt_broker_address: "199.1.1.1"
  mqtt_port: 1883
  mqtt_user: ""
  mqtt_password: ""
  mqtt_channel: "hp2mqtt"
  hp_host: "199.100.10.1"
  hp_pwd: ""

devices:
  Rollershutter1: "1010000"
  Actor2: "1010002"